* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#root {
    height: 100vh;
    overflow-x: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(#c4c440, #e76f6f);
    text-align: center;
    color: rgb(65, 65, 65);
}
.startPage {
    margin-top: 15%;
}
.link {
    display: inline-block;
    margin-top: 20px;
    width: 200px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    color: rgb(65, 65, 65);
    background-color: rgb(119, 217, 255);
    border: 3px solid rgb(65, 65, 65);
    border-radius: 15px;
    cursor: pointer;
}
.home_link {
    line-height: 50px;
    width: 50px;
    position: absolute  ;
    top: 10px;
    left: 10px;
    border-radius: 15px;
    color: black;
}
